body{
    font-family: Arial, sans-serif;
    background:#e8f5e9;
    padding:20px;
}

h1{
    text-align:center;
    color:#2e7d32;
}

.dashboard{
    display:flex;
    gap:20px;
    justify-content:center;
    margin:30px 0;
}

.card{
    background:white;
    width:220px;
    padding:20px;
    text-align:center;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.card h2{
    font-size:32px;
    margin:0;
}

.container{
    text-align:center;
    margin-bottom:20px;
}

input,button{
    padding:10px;
    margin:5px;
    border-radius:6px;
}

button{
    background:#2e7d32;
    color:white;
    border:none;
    cursor:pointer;
}

table{
    width:100%;
    background:white;
    border-collapse:collapse;
}

th{
    background:#2e7d32;
    color:white;
}

th,td{
    border:1px solid #ddd;
    padding:12px;
    text-align:center;
}

.Fresh{
    color: green;
    font-weight: bold;
}

.ExpiringSoon{
    color: orange;
    font-weight: bold;
}

.Expired{
    color: red;
    font-weight: bold;
}